
/* --- */
.page-content {
  padding: 30px 30px;
}

.page-login-v3 {
     padding-top: 20px;
}
.page-login-v3 .panel {
  width: 400px;
  margin-bottom: 45px;
  background: #fff;
  border-radius: 4px;
}